@charset "utf-8";

/* ----------------------------------------------------------- */
/* General Rules                                               */
/* ----------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  a { 
    text-decoration: none;
    color: #000;
  }

  ul {
    list-style-type: none;
  }
}

html {
  font-family: 'Nunito Sans', Arial, sans-serif;
}

.container { 
  width: min(100% - 30px, 1000px);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.flex-between {
  justify-content: space-around;
}
/* ----------------------------------------------------------- */
/* Hero Banner                                                 */
/* ----------------------------------------------------------- */



.hero-banner {
  height: 100svh; 
  background: 
    #fff 
    url('../img/background.jpg') 
    center 
    center / cover 
    no-repeat;
}



header {
  height: 80px;
  color: #e0e0e0;

  .icon {
    line-height: 80px;
  
  h1 {
    line-height: 80px;
    }   
  }

  
}

/* Nav bar buttons */
li {
  display: inline-block; 
  line-height: 80px;
  font-weight: 600;

  a {
    color: #08103e;
    background-color: rgb(230 230 230 / 85%);
    padding: 5px;
    border: 1px solid #0a144f;
    border-radius: 5px;
    transition: all 0.25s ease-in-out;
  }

  a:hover {
    background-color: #9ba7f2;
  }
}

li + li {
  margin-left: 10px;
}


.hero-banner-wrapper {
  height: calc(100svh - 80px - 80px);
  display: grid;
  place-items: center;
}

.hero-banner-content {
  text-align: center;
  
  h2, p {
    color: #e0e0e0;
  }

  h2 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1;
  }

  p {
    font-size: 22px;
    font-weight: 300;
    margin-top: 2px;
    letter-spacing: 0.2px
  }

  .hero-banner-button {
    margin-top: 45px;

    a {
      padding: 8px 25px;
      border-radius: 50px;
      font-size: 18px;
      font-weight: 750;
      transition: all 0.25s ease-in-out;
    }

    .more {
      background-color: #9ba7f2;
      color: #000;
    }

    .more:hover {
      background-color: #e0e0e0;
    }
  }
}


/* ----------------------------------------------------------- */
/* Section                                                     */
/* ----------------------------------------------------------- */

section {
  h3 {
    margin-top: 30px;
    font-size: 26px;
    font-weight: 500;
  } 

  p {
    margin-top: 10px;
    font-size: 17px;
    font-weight: 400;
  }

}

.question, .text {
  margin: 250px 0px;
}

.question {
 background-color: #a6a6a6;
 width: 250px;
 height: 250px;
 border-radius: 6px;
 box-shadow: 0px 0px 40px 5px rgba(10,20,79,0.49);
}

.text {
  width: 450px;
  height: 250px;
  padding: 15px;
}

/* If there is a better way to center text... I'd like to know */
#ssl .question {
  padding: 45px 30px;
}

#tls .question {
  padding: 45px 40px;
}

.secure-1 .question {
  padding: 40px 30px;
}

.secure-2 .question {
  padding: 30px 30px;
}

#encription .question {
  padding: 0px 30px;
}

#prefix .question {
  padding: 0px 20px;
}

#certificate .question {
  padding: 30px 30px;
}